*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
    
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
}

button {
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.hero {
  background-image: url(/img/background/main-screen__bgc.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.container {
  width: 1316px;
  margin: 0 auto;
}


/* Начало хедера */

.header {
  padding-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
}

.header-logo {
  margin-left: 80px;
}

.header-nav a:not(:last-child) {
  padding-right: 56px;
}

.header-button button {
  margin-right: 80px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

/* Конец хедера */

/* Cтарт мейн */
.main-title {
  padding-top: 196px;
  font-size: 64px;
  font-weight: 700;
  line-height: 90px;
}

.main-countdown {
  padding-top: 50px;
  display: flex;
  padding-bottom: 218px;
  
}

.main-countdown__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 102px;
  height: 112px;
  background: #121212;
}

.main-countdown__item:not(:last-child) {
  margin-right: 30px;
}

.item-num {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.4;
}

.main-tape {
  margin-bottom: 8px;
  align-items: center;
  background: #121212;
}

.main-tape__wrapper {
  display: flex;
}

.main-tape__wrapper span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.main-tape__wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.4;
}

.main-tape__button button {
  margin: 42px 82px 42px auto;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.main-tape__users {
  margin: 36px 82px 36px 0;
}

.total-users {
  display: flex;
  align-items: center;
}
.total-users p {
  padding-bottom: 10px;
  padding-right: 100px;
}

.completed-users {
  display: flex;
  align-items: center;
}

.completed-users p {
  padding-right: 30px;
}

.users-earnings {
  margin: 36px 0 28px 0;
}

.users-earnings__info {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.users-earnings__info p {
  padding-right: 30px;
}

.users-earnings__strip {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
}

.users-earnings__strip .strip-one {
  padding-right: 440px;
  border-top: 6px solid;
  border-image: linear-gradient( to right, #DF5950, #451046) 1% 0%;
}

.users-earnings__strip .strip-two {
  padding-left: 224px;
  border-top: 6px solid #ffffff;

}
/* Конец мейн */

/* Старт about */

.about {
  margin-bottom: 200px;
  padding-top: 192px;
  display: flex;
}

.about-background {
  padding-right: 134px;
}

.about-description h2 {
  padding-bottom: 44px;
  padding-top: 68px;
}

.about-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
}
/* Конец about */

/* Старт Быстрый старт */
.start-title {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.start-title h2 {
  padding-left: 40px;
}

.start-description p {
  padding-bottom: 80px;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.5;
}

.start-block {
  padding-bottom: 200px;
  display: flex;
}

.start-block p {
  padding-right: 18px;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.5;
}

.start-block__item-one h2 {
  padding-bottom: 20px;
  border-bottom: 80px solid;
  border-image: linear-gradient( to right, #C89AFC, #7C6AFA) 1% 0%;
}

.start-block__item-one p {
  padding-top: 36px;
}

.start-block__item-two h2 {
  padding-bottom: 30px;
  border-bottom: 60px solid;
  border-image: linear-gradient( to right, #7C6AFA,#C89AFC ) 1% 0%;
}

.start-block__item-two p {
  padding-top: 46px;
}

.start-block__item-three h2 {
  padding-bottom: 40px;
  border-bottom: 30px solid;
  border-image: linear-gradient( to right, #C89AFC, #7C6AFA) 1% 0%;
}

.start-block__item-three p {
  padding-top: 60px;
}

.start-block__item-four h2 {
  padding-bottom: 50px;
  border-bottom: 10px solid;
  border-image: linear-gradient( to right, #7C6AFA,#C89AFC ) 1% 0%;
}

.start-block__item-four p {
  padding-top: 70px;
}
/* Конец Быстрый старт */

/* Старт Преимущества професси */
.benefit-profession__title h2 {
  padding-bottom: 120px;
  text-align: center;
}

.benefit-profession__items {
  padding-bottom: 200px;
  display: flex;
  text-align: center;
}


.profession-item img {
  padding-bottom: 60px;
}

.profession-item h3 {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}

.profession-item p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  opacity: 0.8;
}

.profession-item p:not(last-child) {
  padding:0 80px;
}
/* Конец Преимущества професси */

/* Cтарт Партнеры */
.partners-wrapper {
  padding-bottom: 242px;
}
.partners-title {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.partners-title h2 {
  padding-left: 12px;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
}

td,th {
  padding: 30px 62px;
}

tr:first-child {
  border-bottom: 1px solid rgb(71, 71, 71);
}

td {
  border-left: 1px solid rgb(71, 71, 71); ;
}

.border-none {
  border-left: none;
}


/* Конец Партнеры */

/* Старт Программа */

.training-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.training-title img {
  padding-bottom: 76px;
}

.training-title h2 {
  padding-bottom: 30px;
}

.training-description p {
  padding-bottom: 80px;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.5;
}

.training-way {
  display: flex;
  align-self: center;
}

.training-nav-left h4 {
  padding: 16px 60px;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  opacity: 0.5;
}

.training-nav-left p {
  padding-right: 60px;
  padding-bottom: 88px;
  font-size: 18px;
  line-height: 30px;
  text-align: right;
  border-top: 1px solid #FFFFFF;
}

.training-tape {
  height: 740px;
  border-left: 6px solid;
  border-image: linear-gradient( to right, #7C6AFA,#C89AFC ) 0% 1%;
}

.training-nav-right {
  padding-top: 40px;
}

.training-nav-right h4{
  padding: 16px 60px;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.5;
  text-align: left;
}

.training-nav-right p {
  padding-left: 60px;
  padding-bottom: 88px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  border-top: 1px solid #FFFFFF;
}

/* Конец Программа */

/* Cтарт Преподаватели */
.teachers {
  padding-bottom: 200px;
}

.teachers-title {
  padding-top: 128px;
  display: flex;
  align-items: center;
}

.teachers-title h2 {
  padding-top: 60px;
  padding-left: 40px;
}

.teachers-cards {
  padding-top: 114px;
  display: flex;
  justify-content: space-between;
}

.teachers-cards .cards-item {
  padding: 0 114px;
  text-align: center;
}


.cards-item h3 {
  padding-top: 40px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}

.cards-item p { 
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
  white-space: nowrap;
}

.cards-item button {
  padding: 10px 30px;
  background-color: inherit;
  border: 1px solid #fff;
}


/* Конец Преподаватели */

/* Старт Футер */

.footer {
  text-align: center;
}

.footer-title h2 {
  padding-bottom: 30px;
} 

.footer-title p {
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  opacity: 0.5;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}

.footer-form input {
  padding-top: 10px;
  padding-right: 280px;
  padding-bottom: 10px;
  padding-left: 30px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  background-color: rgb(151, 149, 149);
  color: #FFF;
}

input::-webkit-input-placeholder { color: #fff; opacity: 0.25; }


.footer-form button {
  position: absolute;
  top: 0px;
  left: 770px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.footer-social {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.footer-social div:not(:last-child) {
  padding-right: 30px;
}

.footer-social div {
  position: relative;
}

.footer-social a {
  position: absolute;
  top: 25%;
  left: 15%;
}

.footer-social .insta a { 
  left: 25%;
}

.footer-copyright {
  padding-bottom: 30px;
  line-height: 26px;
  opacity: 0.8;
}

/* Конец Футер */

@media (max-width:480px) {
  .hero {
    background-position: 69%;
  }

  .container {
    width: 100%;
    padding: 20px;
  }

  .header {
    padding-top: 20px;
  }

  .header-nav {
    display: none;
  }

  .header-button button {
    margin-right: 46px;
  }

  .main-title {
    padding-top: 80px;
    text-align: center;
    font-size: 34px;
    line-height: 46px;
  }

  .main-countdown {
    padding-bottom: 40px;
  }

  .main-tape {
    margin: 0;
  }

  .main-tape__wrapper {
    flex-direction: column;
  }
  .main-tape__button {
    text-align: center;
  }
  .main-tape__button button {
    margin: 0;
  }

  .main-tape__users {
    margin: 30px 0 0 40px;
  }
  
  .users-earnings {
    display: none;
  }

  .about {
    margin: 0;
    display: block;
  }
  
  .about-background img {
    padding: 10px;
    width: 165%;
  }
  
  .about-description {
    padding: 20px 0;
    text-align: center;
  }
  
  .start {
    text-align: center;
  }

  .start-description {
    white-space: wrap;
  }
  
  .start-block {
    padding-bottom: 30px;
    flex-direction: column;
  }
  
  .start-block p {
    padding-bottom: 16px;
  }

  .benefit-profession__items {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .benefit-profession__title h2 {
    padding-bottom: 40px;
  }

  .profession-item {
    padding: 0 20px;
  }

  .profession-item img {
    padding: 40px 0;
  }

  .profession-item p:not(last-child) {
    padding: 0 30px 20px 30px;
  }

  .partners-wrapper {
    padding-bottom: 40px;
  }

  .partners-title {
    padding-bottom: 40px;
    display: block;
    text-align: center;
  }

  .partners-table {
    display: none;
  }
  
  .training-title img {
    padding-bottom: 20px;
  }

  .training-way {
    border: 1px solid #fff;
    display: block;
  }

  .training-way h4 {
    text-align: center;
  }

  .training-way p {
    padding: 0;
    text-align: center;
  }

  .training-tape {
    display: none;
  }

  .teachers-title {
    padding-top: 40px;
    flex-direction: column;
    text-align: center;
  }

  .teachers-title h2 {
    padding: 10px;
  }
  
  .teachers-cards {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .teachers-cards .cards-item {
    padding-bottom: 40px;
  }

  .footer-form {
    flex-direction: column;
  }

  .footer-form input {
    padding: 10px 30px;
    border-radius: 50px;
  }

  .footer-form button {
    margin-top: 20px;
    position: static;

  }
}